/Practicas/Gatos/Gatos/build/
/Practicas/Gatos/Gatos/dist/
/Practicas/LabyrinthWall/nbproject/private/
/Practicas/LabyrinthWall/build/
/Practicas/LabyrinthWall/dist/
/Practicas/Practica 4 - netbeans/netbeans/AEstrella/dist/